/*
 
 * 
 * 
 * 首页界面
 * 
 * 
 * */

.hight {
	width: 100% !important;
	height: 0.2rem !important;
	background: #f4f8fb;
}

.icon {
	width: 100% !important;
	height: 2.2rem !important;
	background: #ffffff !important;
	position: relative;
	overflow: auto;
}

.icon a {
	float: left !important;
	width: 25% !important;
	text-align: center;
	line-height: 1.5rem !important;
	height: 100% !important;
	color: #666666;
	font-size: 0.24rem;
	position: relative !important;
	overflow: hidden;
}

.icon a i {
	display: block;
	width: 0.82rem;
	height: 0.83rem;
	text-align: center;
	margin: auto;
}

.icon a i img {
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
	top: 50%;
}

.icon:after {
	display: block;
	clear: both;
	content: "";
}


/*热卖专区*/

.remaibox {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	background: white;
	padding: 0.29rem;
	box-sizing: border-box;
}

.remai_name {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.name_nth1 {
	width: 100%;
	height: auto;
	font-size: 0.4rem;
	font-weight: bold;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 0.12rem;
	box-sizing: border-box;
}

.name_nth2 {
	width: 100%;
	height: auto;
	font-size: 0.22rem;
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 0.28rem;
	box-sizing: border-box;
}

.remai_chanpin {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	border-top: 0.01rem solid #f7f7f7;
	padding-top: 0.4rem;
	padding-bottom: 0.3rem;
	box-sizing: border-box;
}

.remai_chanpin .remaichanpin_icon {
	float: left;
	width: 1.80rem;
	height: 1.80rem;
}

.remai_chanpin .remaichanpin_icon img {
	width: 100%;
	height: 100%;
}

.remai_nribox {
	width: 70%;
	height: auto;
	float: right;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.remai_chanpin:after {
	display: block;
	clear: both;
	content: "";
}

.remai_name_box {
	width: 100%;
	height: auto;
	font-size: 0.32rem;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
/*兼容iPai*/
@media only screen and (min-width:760px ) {
	.name_nth1 {
		width: 100%;
		height: auto;
		font-size: 0.4rem;
		font-weight: bold;
		color: #333333;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0.1rem 0rem;
		padding-bottom: 0.2rem;
		box-sizing: border-box;
	}
		
	.remai_name_box {
		width: 100%;
		height: auto;
		font-size: 0.32rem;
		color: #333333;
		padding: 0.05rem 0rem;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		box-sizing: border-box;
	}
	
	.remai_dian_name {
		width: 100%;
		height: auto;
		font-size: 0.25rem;
		color: #999999;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0.1rem 0rem;
		box-sizing: border-box;
	}
	.diqu {
		width: 100%;
		height: auto;
		position: relative;
		overflow: hidden;
		padding: 0.1rem 0rem;
		box-sizing: border-box;
	}
	
	.name_wod>.wod_name {
	    display: block;
	    width: 100%;
	    height: auto;
	    font-size: 0.4rem;
	    color: #333333;
	    font-weight: bold;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    white-space: nowrap;
	    padding-bottom: 0.12rem;
	    padding: 0.1rem 0rem;
	    box-sizing: border-box;
	}
		
	.cai_navpagne1 span {
	    float: left;
	    width: 33%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    white-space: nowrap;
	    padding: 0.1rem 0rem;
	}
	.shiyongshidata {
	    width: 100%;
	    height: auto;
	    font-size: 0.3rem;
	    font-weight: bold;
	    color: #0084ff;
	    text-align: left;
	    padding-bottom: 0.2rem;
	    box-sizing: border-box;
	}
	.guizhie ul li{
		line-height: 43px;
		box-sizing: border-box;
	}
	.shengyu {
	    font-size: 0.24rem;
	    color: #666666;
	    padding-left: 0.5rem;
	    position: relative;
	    box-sizing: border-box;
	    top: 0.1rem;
	}
	
	.ruxititile_name {
	    width: 100%;
	    height: auto;
	    font-size: 0.3rem;
	    color: #333333;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    white-space: nowrap;
	    font-weight: bold;
	    padding: 0.1rem 0rem;
	}
	
	.ruxititile_dianming {
	    width: 100%;
	    height: auto;
	    font-size: 0.26rem;
	    color: #666666;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    white-space: nowrap;
	    padding-top: 0.2rem;
	    padding: 0.2rem 0rem;
	    box-sizing: border-box;
	}
	.dd_namepage {
	    width: 100%;
	    height: auto;
	    font-size: 0.3rem;
	    color: #333333;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    white-space: nowrap;
	    padding-bottom: 0.1rem;
	    padding: 0.2rem 0rem;
	    box-sizing: border-box;
	}
	.pingxi_name_dianpu {
	    display: inline-block;
	    width: 62%;
	    font-size: 0.25rem;
	    color: #999999;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    white-space: nowrap;
	    position: relative;
	    /* top: -0.5rem; */
	    padding: 0.2rem 0rem;
	}
	.dainpage {
	    width: 100%;
	    height: auto;
	    font-size: 0.26rem;
	    color: #999999;
	    text-align: left;
	    position: relative;
	    padding: 0.1rem 0rem;
	}
	
	 .fanpiodikoiu {
	    display: block;
	    font-size: 0.28rem;
	    color: #666666;
	    width: auto;
	    text-align: left;
	    height: auto;
	    line-height: 30px;
	}
	.data {
	    width: 70% !important;
	    float: right;
	    border: none !important;
	    color: #333333 !important;
	    height: 100% !important;
	    font-size: 28px;
	}
	
	.titext textarea {
	    line-height: 35px;
	    box-sizing: border-box;
	}
	
	.pingxi_name_top {
	    margin-bottom: -4% !important;
	}
	
	.zhuagntai_morer_coro {
	    float: right;
	    width: 35%;
	    height: auto;
	    text-align: right;
	    font-size: 0.25rem;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    white-space: nowrap;
	    color: #999999;
	    position: relative;
	    top: 0.2rem;
	}
	
	.chakank {
	    float: right;
	    color: white;
	    border-radius: 0.5rem;
	    padding: 0.15rem 0.3rem !important;
	    background: #007AFF;
	    box-sizing: border-box;
	}
	.pinjia {
	    float: right;
	    color: #666666;
	    border-radius: 0.5rem;
	    padding: 0.15rem 0.3rem !important; 
	    margin-right: 0.1rem;
	    border: 0.01rem solid #b5b5b5;
	    box-sizing: border-box;
	}
	
	.footbox {
	    width: 100%;
	    height: 1.1rem;
	    background: white;
	    position: fixed;
	    bottom: 0rem;
	    left: 0rem;
	    z-index: 999;
	    padding-top: 0.2rem;
	    box-sizing: border-box;
	}
	
	.fanyou_name span {
	    display: block;
	    width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    white-space: nowrap;
	    padding-bottom: 0.12rem;
	    box-sizing: border-box;
	    font-size: 0.3rem;
	    color: #333333;
	    font-weight: bold;
	    padding: 0.2rem 0rem;
	}
	
	.kaixi_biaotishi {
	    width: 100%;
	    height: auto;
	    background: white;
	    margin-top: 0.2rem;
	    margin-bottom: 1rem;
	    position: relative;
	    overflow: hidden;
	    padding-left: 0.25rem;
	    box-sizing: border-box;
	}
    .xinjidafen_xinxin {
	    width: auto;
	    height: auto;
	    float: left;
	    position: relative;
	    top: 0.1rem;
	    padding: 0.1rem 0rem;
	    box-sizing: border-box;
	}
	.quanwentbtn {
	    width: 100%;
	    height: auto;
	    font-size: 0.24rem;
	    color: #0084ff;
	    padding-top: 0.25rem;
	    padding: 0.3rem 0rem;
	    box-sizing: border-box;
	}
	.shenyu_xishu span {
	    display: inline-block;
	    width: auto;
	    height: auto;
	    background: #efeff4;
	    position: relative;
	    top: 0.1rem !important;
	    padding: 0rem 0.7rem;
	    box-sizing: border-box;
	}
		
	
	
	
}



.remai_dian_name {
	width: 100%;
	height: auto;
	font-size: 0.25rem;
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.icon_xinxin {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.xinxin {
	display: inline-block;
	width: 1.27rem;
	height: 0.21rem;
	margin-bottom: 0rem !important;
}

.xinxin label {
	display: inline-block;
	width: auto;
	height: 100%;
}

.xinxin label img {
	width: auto;
	height: 100%;
}

.fenshu {
	display: inline-block;
	font-size: 0.25rem;
	color: #333333;
	margin-left: 3%;
}

.diqu {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.diqu_weizhi {
	width: auto;
	height: auto;
	font-size: 0.25rem;
	color: #999999;
	position: relative;
}

.juli {
	margin-left: 0.3rem;
}

.morey {
	position: absolute;
	right: 0.3rem;
	color: #ff385d;
	font-size: 0.4rem;
}

p {
	margin-bottom: 0.04rem !important;
}


/*
 
 * 
 * 
 * 订单界面
 * 
 * 
 * 
 * 
 * */

.navbox {
	width: 100%;
	height: 0.94rem;
	background: white;
	position: fixed;
	top: 0rem;
	left: 0rem;
	z-index: 999;
	border-bottom: 0.01rem solid #d0d0d0;
	box-sizing: border-box;
}

.navbox a {
	float: left;
	width: 20%;
	height: 100%;
	line-height: 0.94rem;
	text-align: center;
	font-size: 0.28rem;
	color: #666666;
}

.navbox a span {
	display: inline-block;
	width: auto;
	height: 100%;
	padding: 0rem 0.1rem;
	box-sizing: border-box;
}

.navbox a .actiovanav {
	color: #349aff;
	border-bottom: 0.03rem solid #349aff;
	box-sizing: border-box;
}

.navboxcom {
	width: 100%;
	height: auto;
	margin-top: 0.95rem;
	position: relative;
	overflow: hidden;
}

.pingxizhogn {
	display: block;
	width: 100%;
	height: auto;
	padding: 0.3rem;
	position: relative;
	background: white;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}

.pingxizhogn i {
	position: absolute;
	right: 0rem;
	top: 0rem;
	width: 1.80rem;
	height: 1.80rem;
	position: relative;
	overflow: hidden;
}

.pingxizhogn i img {
	width: 1.5rem;
	height: 1.5rem;
}

.pingxizhogn .pingxinrong {
	width: 64%;
	height: auto;
	position: absolute;
	right: 0.4rem;
	top: 0.2rem;
}

.pingxizhogn:after {
	display: block;
	clear: both;
	content: "";
}

.pingxi_name {
	width: 100%;
	height: auto;
	position: relative;
}

.pingxi_name_page {
	display: inline-block;
	width: 62%;
	height: auto;
	font-size: 0.32rem;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (max-width: 320px) {
	.pingxi_name_top {
		margin-bottom: 0% !important;
	}
	.name_wod a img {
		display: inline-block;
		width: 0.14rem;
		height: 0.2rem;
		position: relative;
		top: 0rem !important;
	}
}

@media screen and (min-width: 768px) {
	.pingxi_name_page {
		display: inline-block;
		width: 62%;
		height: auto;
		font-size: 0.32rem;
		color: #333333;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0.1rem 0rem;
		box-sizing: border-box;
	}
	.zhuagntai {
		float: right;
		width: 35%;
		height: auto;
		text-align: right;
		font-size: 0.32rem;
		color: #ff385d;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0.1rem 0rem;
		box-sizing: border-box;
	}
	.pingxi_name_top {
		margin-bottom: -3%;
		padding: 0.1rem 0rem;
		box-sizing: border-box;
	}
	.zhuagntai_morer {
		float: right;
		width: 35%;
		height: auto;
		text-align: right;
		font-size: 0.32rem;
		color: #363636;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		position: relative;
		top: 0.1rem;
		padding: 0.1rem 0rem;
		box-sizing: border-box;
	}
}

.zhuagntai {
	float: right;
	width: 35%;
	height: auto;
	text-align: right;
	font-size: 0.32rem;
	color: #ff385d;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.pingxi_name_dianpu {
	display: inline-block;
	width: 62%;
	font-size: 0.25rem;
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	/*top: -0.5rem;*/
}

.zhuagntai_morer {
	float: right;
	width: 35%;
	height: auto;
	text-align: right;
	font-size: 0.32rem;
	color: #363636;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	top: 0.1rem;
}

.pingxi_name_top {
	margin-bottom: 4%;
}

.zhuagntai_morer_coro {
	float: right;
	width: 35%;
	height: auto;
	text-align: right;
	font-size: 0.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	color: #999999;
}

.pingxizhogn:after {
	display: block;
	clear: both;
	content: "";
}

.shifukan {
	width: 100%;
	height: auto;
	margin-top: 0.39rem;
	border-top: 0.01rem solid #f7f7f7;
	color: #666666;
	font-size: 0.28rem;
	padding-top: 0.3rem;
	position: relative;
	box-sizing: border-box;
}

.shifuk_morety {
	font-size: 0.32rem;
	color: #ff385d;
	padding-left: 0.3rem;
	box-sizing: border-box;
}

.chakank {
	float: right;
	color: white;
	border-radius: 0.5rem;
	padding: 0.1rem 0.5rem;
	background: #007AFF;
	box-sizing: border-box;
}

.pinjia {
	float: right;
	color: #666666;
	border-radius: 0.5rem;
	padding: 0.1rem 0.5rem;
	margin-right: 0.1rem;
	border: 0.01rem solid #b5b5b5;
	box-sizing: border-box;
}


/*拼席成功的颜色*/

.pinxichegngong {
	color: #03d7c6;
}

.yiwanchegn {
	color: #666666;
}

.yituikuan {
	color: #999999;
}


/*
 
 * 
 * 我的！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
 * 
 * 
 * */

.top_name {
	width: 100%;
	height: auto;
	background: white;
	padding: 0.75rem 0.5rem;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.top_name div {
	float: left;
}

.name_wod {
	width: 70%;
	height: auto;
	position: relative;
}

.touxiang {
	width: 1.20rem;
	height: 1.20rem;
	border-radius: 50%;
	float: right !important;
	overflow: hidden;
}

.touxiang img {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: auto;
}

.top_name:after {
	display: block;
	clear: both;
	content: "";
}

.name_wod>.wod_name {
	display: block;
	width: 100%;
	height: auto;
	font-size: 0.4rem;
	color: #333333;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 0.12rem;
	box-sizing: border-box;
}

.name_wod a {
	display: inline-block;
	width: 1.38rem;
	height: 0.36rem;
	position: relative;
	top: 0.15rem;
	box-sizing: border-box;
}

.name_wod a img {
	width: 100%;
}

.wode_fanpiao {
	display: block;
	width: 100%;
	height: 1rem;
	background: white;
	margin-top: 0.4rem;
	position: relative;
	overflow: hidden;
	padding: 0rem 0.35rem;
	box-sizing: border-box;
}

.wode_fanpiao .nav_touxiang {
	display: inline-block;
	width: 0.38rem;
	height: 100%;
	float: left;
}

.wode_fanpiao .nav_touxiang img {
	width: 100%;
	height: auto;
	position: relative;
	top: 34%;
}

.icon_name {
	float: left;
	width: auto;
	height: 100%;
	line-height: 1rem;
	font-size: 0.32rem;
	color: #333333;
	margin-left: 0.37rem;
	box-sizing: border-box;
}

.btn_morey {
	position: absolute;
	width: auto;
	height: 1rem;
	line-height: 1rem;
	font-weight: bold;
	right: 0rem;
	margin-right: 0.78rem;
	font-size: 0.32rem;
	color: #ff385d;
}

.right_btn {
	float: right;
	width: 0.2rem;
	height: 0.32rem;
	position: relative;
	top: 34%;
}

.right_btn img {
	width: 100%;
	height: 100%;
}

.wode_fanpiao:after {
	display: block;
	clear: both;
	content: "";
}

.wode_fanyou {
	display: block;
	width: 100%;
	height: 1rem;
	margin-top: 0.4rem;
	background: white;
	position: relative;
	padding-left: 0.35rem;
	box-sizing: border-box;
}

.fanyou_icon {
	float: left;
	width: 10%;
	height: 0.38rem;
	position: relative;
	top: 33%;
}

.fanyou_icon img {
	width: 0.33rem;
	height: 100%;
}

.wode_fanyouname {
	float: left;
	width: 90%;
	height: 100%;
	line-height: 1rem;
	font-size: 0.32rem;
	color: #333333;
	padding-right: 0.35rem;
	border-bottom: 0.01rem solid #f7f7f7;
	box-sizing: border-box;
}

.fanyou_icon2 {
	float: left;
	width: 10%;
	height: 0.4rem;
	position: relative;
	top: 33%;
}

.fanyou_icon2 img {
	width: 0.39rem;
	height: 100%;
}

.wode_fanyou:after {
	display: block;
	clear: both;
	content: "";
}


/*
 
 * 
 * 点击头像界面 我的详情
 * 
 * 
 * */

.wode_fanpiao_xiangqing {
	padding-left: 0.3rem !important;
	height: auto !important;
	position: relative;
	padding: 0.3rem 0rem;
	margin-top: 0rem !important;
	margin-bottom: 0.4rem;
	box-sizing: border-box;
}

.btn_morey_icon {
	float: right;
	width: 1.20rem;
	height: 1.20rem;
	line-height: 1rem;
	font-weight: bold;
	right: 0rem;
	margin-right: 0.8rem;
	font-size: 0.32rem;
	color: #ff385d;
}

.btn_morey_icon img {
	width: 100%;
	height: 100%;
}

.btn_morey_icon2 {
	position: absolute;
	width: 1.20rem;
	height: 1.20rem;
	line-height: 1rem;
	font-weight: bold;
	right: 0rem;
	margin-right: 0.8rem;
	font-size: 0.32rem;
	color: #ff385d;
}

.btn_morey_icon2 img {
	width: 100%;
	height: 100%;
}

.right_btn2age {
	position: absolute;
	right: 0.35rem;
	width: 0.2rem;
	height: 0.32rem;
	top: 42%;
}

.right_btn2age img {
	width: 0.2rem;
	height: 0.32rem;
}

.icon_name2 {
	float: left;
	width: auto;
	height: 100%;
	line-height: 1.2rem;
	font-size: 0.32rem;
	color: #333333;
	margin-left: 0.37rem;
	box-sizing: border-box;
}

.yonghuname {
	display: block;
	width: 100%;
	height: 1rem;
	padding: 0rem 0.3rem;
	background: white;
	border-bottom: 0.01rem solid #f7f7f7;
	box-sizing: border-box;
}

.btn_yonghu {
	position: absolute;
	width: auto;
	height: 1rem;
	line-height: 1rem;
	right: 0rem;
	margin-right: 0.78rem;
	font-size: 0.28rem;
	color: #999999;
}

.yonghuname:after {
	display: block;
	clear: both;
	content: "";
}


/*
 
 * 
 * 
 * 饭票余额
 * 
 * 
 * */

.fanpiaoyue {
	width: 100%;
	height: auto;
	background: #0082fc;
	position: relative;
	color: white;
	padding-top: 0.6rem;
	padding-left: 0.4rem;
	padding-bottom: 0.85rem;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}

.fnapiaonam {
	width: 100%;
	height: auto;
	text-align: left;
	font-size: 0.32rem;
	padding-bottom: 0.7rem;
	box-sizing: border-box;
}

.fanpiao_morey {
	font-size: 1.2rem;
	font-weight: bold;
}

.fanpiao_mingxi {
	width: 100%;
	height: auto;
	background: white;
	padding-left: 0.29rem;
	box-sizing: border-box;
}

.fp_mingxi {
	width: 100%;
	height: auto;
	border-bottom: 0.01rem solid #f7f7f7;
	padding: 0.34rem 0.39rem;
	box-sizing: border-box;
}

.fpnatiti {
	display: inline-block;
	font-size: 0.32rem;
	color: #333333;
	width: auto;
	text-align: left;
	height: auto;
}

.fanpiodikoiu {
	display: block;
	font-size: 0.28rem;
	color: #666666;
	width: auto;
	text-align: left;
	height: auto;
}

.dikoujia {
	float: right;
	font-size: 0.36rem;
	color: #03d7c6;
	font-weight: bold;
	position: relative;
}

.shijian {
	display: block;
	font-size: 0.28rem;
	color: #999999;
	width: auto;
	text-align: left;
	height: auto;
	padding-top: 0.3rem;
	box-sizing: border-box;
}

.fanpiodikoiu2 {
	display: block;
	font-size: 0.28rem;
	color: #666666;
	width: auto;
	text-align: left;
	height: auto;
	position: relative;
	top: 0.15rem;
	box-sizing: border-box;
}

.dikoujia2 {
	float: right;
	font-size: 0.36rem;
	color: #ff385d;
	font-weight: bold;
	position: relative;
}


/*
 
 * 
 * 
 * 
 * 我的饭友
 * 
 * 
 * 
 * 
 * */

.wodefanyou {
	width: 100%;
	height: auto;
	background: white;
	padding: 0.24rem 0.6rem;
	margin-top: 0.2rem;
	box-sizing: border-box;
}

.wofanimg_icon {
	float: left;
	width: 0.9rem;
	height: 0.9rem;
}

.wofanimg_icon img {
	width: 100%;
	height: 100%;
}

.wodefanyou:after {
	display: block;
	clear: both;
	content: "";
}

.fanyou_name {
	width: 100%;
	height: auto;
	padding-left: 1.3rem;
	box-sizing: border-box;
}

.fanyou_name span {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 0.12rem;
	box-sizing: border-box;
	font-size: 0.3rem;
	color: #333333;
	font-weight: bold;
}

.fanyou_name label {
	display: block;
	font-size: 0.24rem;
	color: #999999;
	padding-top: 0.03rem;
	box-sizing: border-box;
}


/*
 
 * 
 * 设置
 * 
 * 
 * */

.yonghuname3 {
	margin-top: 0.2rem;
}

.btn_yonghu3 {
	position: absolute;
	width: auto;
	height: 1rem;
	line-height: 1rem;
	right: 0rem;
	margin-right: 0.35rem;
	font-size: 0.28rem;
	color: #999999;
}

.right_btn2 {
	float: right;
	width: 0.32rem;
	height: 0.32rem;
	position: relative;
	top: 34%;
	margin-right: 0.35rem;
}

.right_btn2 img {
	width: 100%;
	height: 100%;
}

.yonghuname2 {
	display: block;
	width: 100%;
	height: 1rem;
	padding: 0rem 0rem;
	background: white;
	border-bottom: 0.01rem solid #f7f7f7;
	box-sizing: border-box;
}

.input_name {
	width: 85% !important;
	height: 100% !important;
	float: left;
	border: none !important;
	outline: none !important;
	font-size: 0.32rem !important;
	color: #333333 !important;
}

.wancheng {
	width: 6.70rem;
	height: 0.9rem;
	background: #0084ff;
	text-align: center !important;
	line-height: 0.9rem;
	color: white;
	font-size: 0.32rem !important;
	margin: 0rem auto;
}

.tijiao {
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	margin-top: 0.5rem;
}

.right_btn5 {
	float: right;
	width: 0.42rem;
	height: 0.42rem;
	position: relative;
	top: 34%;
	margin-right: 0.35rem;
	display: none;
}

.right_btn5 img {
	width: 100%;
	height: 100%;
}

.age {
	display: block;
}

.data {
	width: 70% !important;
	float: right;
	border: none !important;
	color: #333333 !important;
	height: 100% !important;
}


/*
 
 * 
 * 
 * 无订单状态
 * 
 * */

.wudingdanimg {
	width: 100%;
	height: auto;
	text-align: center;
	margin: auto;
	margin-top: 50%;
}

.wudingdanimg i {
	display: inline-block;
	width: 1.93rem;
	height: 2.35rem;
}

.wudingdanimg i img {
	width: 100%;
	height: 100%;
	margin: auto;
}


/*
 
 * 
 * 分类状态
 * 
 * */

.navfenlei {
	width: 100%;
	height: 0.9rem;
	background: white;
	position: fixed;
	top: 0rem;
	left: 0rem;
	border-bottom: 0.01rem solid #d0d0d0;
	box-sizing: border-box;
	z-index: 11;
}

.navfenlei button {
	float: left;
	width: 50%;
	height: 100%;
	border: none;
	padding: 0rem !important;
	margin: 0rem !important;
	font-size: 0.28rem;
	color: #666666;
	position: relative;
}

.navfenlei button i {
	display: inline-block;
	position: absolute;
	width: 0.16rem;
	height: 0.08rem;
	top: 48%;
	margin-left: 0.08rem;
}

.navfenlei button i img {
	width: 100%;
	height: 100%;
}

.btn1img2,
.btn2img2 {
	display: none;
}

.leibiexuanzekuagn {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0rem;
	left: 0rem;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}


/*智能排序*/

.btn1div,
.btn1div2 {
	width: 100%;
	height: auto;
	background: white;
	margin-top: 0.9rem;
	position: relative;
	display: none;
}

.btn1div a,
.btn1div2 a {
	display: block;
	width: 100%;
	height: 0.9rem;
	line-height: 0.9rem;
	color: #666666;
	font-size: 0.28rem;
	padding-left: 0.4rem;
	position: relative;
	box-sizing: border-box;
}

.leibie {
	float: right;
	width: 0.42rem;
	height: 0.42rem;
	position: relative;
	top: 34%;
	margin-right: 0.35rem;
	display: none;
}

.leibie img {
	width: 100%;
	height: 100%;
}

.leibiexianshi {
	display: block !important;
}

.zhanshibox {
	width: 100%;
	height: auto;
	position: relative;
	background: white;
	margin-top: 1rem;
	padding-left: 0.3rem;
	box-sizing: border-box;
}


/*
 
 * 
 * 拼席中订单详情
 * 
 * 
 * */

.pxzhogn {
	display: block;
	width: 100%;
	height: auto;
	background: white;
	position: relative;
	padding: 0.3rem;
	box-sizing: border-box;
}

.ddimglogo {
	float: left;
	display: inline-block;
	width: 30%;
	height: 1.8rem;
	box-sizing: border-box;
}

.ddimglogo img {
	width: 1.8rem;
	height: 100%;
}

.ddxname {
	float: left;
	width: 70%;
	height: 1.8rem;
	position: relative;
}

.dd_namepage {
	width: 100%;
	height: auto;
	font-size: 0.3rem;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 0.1rem;
	box-sizing: border-box;
}

.pingxi_name_dianpu {
	display: inline-block;
	width: 62%;
	font-size: 0.25rem;
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	/* top: -0.5rem; */
}

.dd_morey {
	font-size: 0.28rem;
	color: #363636;
	position: absolute;
	left: 0rem;
	bottom: 0rem;
}

.dd_rigibtn {
	position: absolute;
	right: 0rem;
	bottom: 0.7rem;
	display: inline-block;
	width: 0.2rem;
	height: 0.32rem;
}

.dd_rigibtn img {
	width: 100%;
	height: 100%;
}

.pxzhogn:after {
	display: block;
	clear: both;
	content: "";
}

.liushuima {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.3rem;
	color: #333333;
	background: white;
	margin-top: 0.2rem;
	padding-left: 0.3rem;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}

.liushuima label {
	font-size: 0.4rem;
	padding-left: 0.75rem;
	box-sizing: border-box;
}

.dindanxinxi {
	width: 100%;
	height: auto;
	background: white;
	position: relative;
	padding: 0.3rem;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}

.din_nammepage {
	width: 100%;
	height: auto;
	font-size: 0.3rem;
	color: #333333;
	text-align: left;
}

.xidnxii {
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 0.1rem;
	box-sizing: border-box;
}

.dainpage {
	width: 100%;
	height: auto;
	font-size: 0.26rem;
	color: #999999;
	text-align: left;
	position: relative;
}

.dainpage label {
	position: absolute;
	left: 1.66rem;
}

.tuikuand {
	position: absolute;
	right: 0rem;
	bottom: 0.1rem;
	display: inline-block;
	width: 1.50rem;
	height: 0.54rem;
}

.tuikuand img {
	width: 100%;
	height: 100%;
}

#mySwitch {
	width: 0.74rem !important;
	height: 0.4rem !important;
	position: absolute;
	right: 0.3rem;
	top: 0rem;
}

#yuanquan {
	width: 0.4rem !important;
	height: 0.4rem !important;
}

.mui-switch.mui-active .mui-switch-handle {
	-webkit-transform: translate(27px, 0);
	transform: translate(27px, 0);
}

.mui-switch .mui-switch-handle {
	left: -0.1rem !important;
	top: -0.05rem !important;
}

.mui-switch.mui-active:before {
	display: none;
}

.mui-switch:before {
	display: none;
}

.gongtongyonghu {
	width: 100%;
	height: auto;
	margin-top: 0.4rem;
	position: relative;
	overflow: hidden;
}

.gongtongyonghu a {
	float: left;
	width: 28%;
	height: auto;
	font-size: 0.24rem;
	color: #666666;
	position: relative;
	margin-left: 0.3rem;
	margin-bottom: 0.2rem;
}

.gongtongyonghu a i {
	display: inline-block;
	width: 0.76rem;
	height: 0.76rem;
}

.gongtongyonghu a i img {
	width: 100%;
	height: 100%;
}

.gongtongyonghu a label {
	position: absolute;
	right: 0rem;
	top: 0.25rem;
	display: inline-block;
	width: 1rem;
	height: auto;
	font-size: 0.24rem;
	color: #666666;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.dindanxinxi:after {
	display: block;
	clear: both;
	content: "";
}

.shenyuzuowei {
	width: 100%;
	height: auto;
	font-size: 0.36rem;
	text-align: center;
	color: #333333;
	padding: 0.4rem 0rem;
	box-sizing: border-box;
}

.goumaixiwei,
.yaoqinhaoyou {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 0.3rem;
}

.goumaixiwei a {
	display: inline-block;
	width: 6.70rem;
	height: 0.9rem;
	text-align: center;
	line-height: 0.9rem;
	font-size: 0.32rem;
	color: #0084ff;
	background: #eef1ff;
	border-radius: 0.1rem;
	box-sizing: border-box;
}

.yaoqinhaoyou a {
	display: inline-block;
	width: 6.70rem;
	height: 0.9rem;
	text-align: center;
	line-height: 0.9rem;
	font-size: 0.32rem;
	color: #fff;
	background: #0084ff;
	border-radius: 0.1rem;
	box-sizing: border-box;
}


/*
 
 * 
 * 拼席成功订单详情
 * 
 * */

.jiucanxq {
	width: 5.6rem;
	height: 0.8rem;
	border: 0.02rem solid #ff385d;
	margin: auto;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.26rem;
	color: #ff385d;
	background: #fff4f4;
	margin: 0.4rem auto;
}


/*
 
 * 
 * 退款原因
 * 
 * 
 * */

.tuikuanyuanyi {
	width: 100%;
	height: auto;
	position: relative;
	background: white;
	padding: 0.3rem;
	padding-right: 0rem;
	margin-top: 0.2rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	margin-bottom: 1rem;
	box-sizing: border-box;
}

.tuikyuayin {
	width: 100%;
	height: 1rem;
	font-size: 0.32rem;
	color: #333333;
	text-align: left;
	line-height: 1rem;
	border-bottom: 0.01rem solid #f7f7f7;
	box-sizing: border-box;
}

.page1age {
	width: 100%;
	height: 1rem;
	font-size: 0.3rem;
	color: #333333;
	text-align: left;
	line-height: 1rem;
	border-bottom: 0.01rem solid #f7f7f7;
	position: relative;
	padding-right: 0.3rem;
	box-sizing: border-box;
}

.page1age label {
	padding-left: 0rem !important;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 12px !important;
}


/*
 
 * 
 * 
 * 评价
 * 
 * 
 * */

.pingjaiage {
	width: 100%;
	height: auto;
	background: white;
	padding-left: 0.3rem;
	position: relative;
	box-sizing: border-box;
}

.xinji {
	width: 100%;
	height: 1.25rem;
	line-height: 1.25rem;
	font-size: 0.32rem;
	color: #333333;
	text-align: left;
	border-bottom: 0.02rem solid #f7f7f7;
	box-sizing: border-box;
}

.xinji span {
	float: left;
}

.pinfennam {
	display: inline-block;
	width: 20%;
	height: 100%;
}

.xiji {
	display: inline-block;
	width: 80%;
	height: 100%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.xiji label {
	display: inline-block;
	float: left;
	width: 0.36rem;
	height: 0.37rem;
	position: relative;
	top: 35%;
	margin-right: 0.23rem;
	background: #FFFFFF url(../img/xinhao.png) no-repeat left top;
	background-size: 0.36rem 0.37rem;
}

.stars .on {
	background: #FFFFFF url(../img/xinhaoys.png) no-repeat;
	background-size: 0.36rem 0.37rem;
}

.titext {
	width: 100%;
	height: 3.33rem;
	position: relative;
	overflow: hidden;
	padding-top: 0.33rem;
	box-sizing: border-box;
}

.titext textarea {
	width: 100%;
	height: 100%;
	border: none;
	padding: 0rem !important;
	margin: 0rem !important;
	text-align: left;
	font-size: 0.26rem;
	color: #333333;
}

.tupian {
	width: 100%;
	height: auto;
	margin-top: 1rem;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.tupian a {
	display: inline-block;
	background: #007AFF;
	color: white;
	width: 6.80rem;
	height: 0.9rem;
	text-align: center;
	line-height: 0.9rem;
	font-size: 0.3rem;
	padding: 0rem;
	margin: 0rem;
	border-radius: 0.1rem;
	box-sizing: border-box;
}


/*
 
 * 
 * 
 * 感谢评论
 * 
 * 
 * */

.ganxiepinlu {
	width: 100%;
	height: auto;
	background: white;
	padding: 0.65rem 0rem;
	box-sizing: border-box;
}

.tupfanx {
	width: 100%;
	height: auto;
}

.ganxiepinlu img {
	width: 2.81rem;
	height: 1.59rem;
	margin: auto;
}

.shijain {
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 0.28rem;
	color: #666666;
	padding-top: 0.7rem;
	box-sizing: border-box;
}


/*
 
 * 
 * 
 * 订单详情
 * 
 * 
 * */

.imglogo {
	width: 100%;
	height: auto;
}

.imglogo img {
	width: 100%;
	height: 3.5rem;
}

.xiangqingbox {
	width: 100%;
	height: auto;
	background: white;
	position: relative;
	margin-bottom: 0.2rem;
	overflow: hidden;
	padding: 0.3rem;
	padding-bottom: 0rem;
	padding-right: 0rem;
	box-sizing: border-box;
}

.xq_name {
	display: block;
	width: 60%;
	height: auto;
	font-size: 0.3rem;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.xq_morey {
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 0.4rem;
	box-sizing: border-box;
}

.xq_morey_page1 {
	font-size: 0.28rem;
	color: #ff385d;
}

.xq_morey_page1 label {
	font-size: 0.5rem;
	font-weight: bold;
}

.meshijai {
	font-size: 0.22rem;
	color: #666666;
}

.xq_laodian {
	width: 100%;
	height: auto;
	font-size: 0.22rem;
	color: #666666;
	padding: 0.2rem 0rem;
	margin-top: 0.2rem;
	border-bottom: 0.01rem solid #f7f7f7;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.xq_zhuangtai {
	width: 100%;
	height: auto;
	position: relative;
	padding: 0.2rem 0rem;
	box-sizing: border-box;
}

.xq_zt {
	width: auto;
	height: auto;
	border: none;
	background: #ff385d;
	text-align: center;
	line-height: 0.36rem;
	padding: 0rem;
	margin: 0rem;
	color: white;
	font-size: 0.22rem;
	padding: 0.05rem 0.25rem;
	box-sizing: border-box;
}

.shengyu {
	font-size: 0.24rem;
	color: #666666;
	padding-left: 0.5rem;
	box-sizing: border-box;
}

.xq_renshu {
	width: 100%;
	height: auto;
	background: white;
	position: relative;
	padding: 0.3rem;
	padding-right: 0rem;
	padding-top: 0rem;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}

.xq_age1 {
	width: 100%;
	height: auto;
	padding: 0.24rem 0rem;
	position: relative;
	border-bottom: 0.02rem solid #f7f7f7;
	box-sizing: border-box;
}

.dinshi {
	font-size: 0.22rem;
	background: #eef1ff;
	color: #0084ff;
	padding: 0.07rem 0.11rem;
	box-sizing: border-box;
}

.xq_ren_name {
	font-size: 0.28rem;
	color: #333333;
	padding-left: 0.23rem;
	box-sizing: border-box;
}

.renshuicon {
	display: inline-block;
	width: 0.21rem;
	height: 0.25rem;
}

.renshuicon img {
	width: 100%;
	height: 100%;
}

.renhsugershu {
	display: inline-block;
	position: absolute;
	right: 0.3rem;
	width: auto;
	height: auto;
	font-size: 0.32rem;
	color: #666666;
}

.renshutoux {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	padding-top: 0.2rem;
	box-sizing: border-box;
}

.iconrsu {
	float: left;
	width: 70%;
	height: auto;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.iconrsu:after {
	display: block;
	clear: both;
	content: "";
}

.renshutou {
	float: left;
	width: 0.76rem;
	height: 0.76rem;
	margin-right: 0.2rem;
}

.renshutou img {
	width: 100%;
	height: 100%;
}

.xsyc {
	width: 30%;
	height: auto;
	float: right;
	text-align: center;
	position: relative;
	padding-right: 0.3rem;
	box-sizing: border-box;
}

.xsyc i {
	display: inline-block;
	width: auto;
	height: 0.21rem;
	position: absolute;
	text-align: center;
	top: 0.1rem; 
}

.xsyc i img {
	width: auto;
	height: 100%; 
	position: relative;
	left: -0.3rem;
	top: 0.15rem;
}

.gengduotoux {
	width: 100%;
	height: auto;
	position: relative;
	display: none;
	padding-top: 0.2rem;
	box-sizing: border-box;
}

.xq_lijiruxi {
	width: 100%;
	height: auto;
	margin-top: 0.2rem;
	position: relative;
	text-align: left;
	box-sizing: border-box;
}

.zuohoa {
	font-size: 0.26rem;
	color: #999999;
}

.lijiruxixq {
	display: inline-block;
	width: 1.44rem;
	height: 0.52rem;
	position: absolute;
	right: 0.3rem;
	bottom: 0rem;
}

.lijiruxixq img {
	width: 100%;
	height: 100%;
}

.shenyuexishu {
	width: 100%;
	height: auto;
	margin-bottom: 0.3rem;
	position: relative;
}

.shenyu_xishu {
	width: 5rem;
	height: auto;
	margin: auto;
	text-align: center;
	color: #999999;
	font-size: 0.24rem;
	margin-bottom: 0.27rem;
	border-bottom: 0.02rem solid #e5e8eb;
	box-sizing: border-box;
}

.shenyu_xishu span {
	display: inline-block;
	width: auto;
	height: auto;
	background: #efeff4;
	position: relative;
	top: 0.2rem;
	padding: 0rem 0.7rem;
	box-sizing: border-box;
}

.maikaixi {
	display: block;
	width: 5rem;
	height: 0.7rem;
	font-size: 0.26rem;
	text-align: center;
	line-height: 0.7rem;
	color: #363636;
	background: #fff;
	margin: auto;
	border-radius: 0.08rem;
	box-sizing: border-box;
}

.dizhiweizhi {
	width: 100%;
	height: auto;
	background: white;
	padding: 0.4rem 0.3rem;
	position: relative;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}

.dizhi_name {
	width: 100%;
	height: auto;
	font-size: 0.3rem;
	color: #333333;
	text-align: left;
}

.dizhi_weizhi {
	width: 65%;
	height: auto;
	font-size: 0.26rem;
	color: #999999;
	text-align: left;
	position: relative;
	padding-top: 0.2rem;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.dizhi_weizhi i {
	display: inline-block;
	width: 0.22rem;
	height: 0.28rem;
	position: relative;
	top: 0.1rem;
	margin-right: 0.1rem;
	float: left;
}

.dizhi_weizhi i img {
	width: 100%;
	height: 100%
}

.juli_dianha {
	width: 50%;
	height: 0.85rem;
	position: absolute;
	z-index: 5455;
	right: 0rem;
	top: 28%;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.juli_dianha span {
	float: left;
	width: 70%;
	height: 100%;
	line-height: 0.85rem;
	font-size: 0.26rem;
	color: #999999;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 0.3rem;
	box-sizing: border-box;
}

.juli_dianha a {
	float: right;
	width: 30%;
	height: 100%;
	padding-top: 0.2rem;
	border-left: 0.01rem solid #f4f8fb;
	box-sizing: border-box;
}

.juli_dianha a img {
	width: 0.34rem;
	height: 0.44rem;
	margin: auto;
}

.liushuixicaipin {
	width: 100%;
	height: auto;
	position: relative;
	background: white;
	padding: 0.3rem;
	padding-bottom: 0rem;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}

.liucaipinname {
	width: 100%;
	height: auto;
	font-size: 0.3rem;
	color: #333333;
	font-weight: bold;
}

.cai_dnahi {
	width: 100%;
	height: auto;
	margin-top: 0.35rem;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.cai_navpagne1 {
	width: 100%;
	height: auto;
	font-size: 0.26rem;
	color: #333333;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.2rem;
	box-sizing: border-box;
}

.cai_navpagne1 span {
	float: left;
	width: 33%;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.cai_age1 {
	text-align: left;
}

.cai_age2 {
	text-align: center;
}

.cai_age3 {
	text-align: right;
}

.cai_navpagne1:after {
	display: block;
	clear: both;
	content: "";
}

.goumaixuzhi {
	width: 100%;
	height: auto;
	position: relative;
	padding: 0.3rem;
	background: white;
	padding-bottom: 0rem;
	margin-bottom: 1rem;
	box-sizing: border-box;
}

.xuzhiname {
	width: 100%;
	height: auto;
	font-size: 0.3rem;
	font-weight: bold;
	color: #333333;
	text-align: left;
	padding-bottom: 0.3rem;
	box-sizing: border-box;
}

.shiyongshidata {
	width: 100%;
	height: auto;
	font-size: 0.3rem;
	font-weight: bold;
	color: #0084ff;
	text-align: left;
	box-sizing: border-box;
}

.jizaizhe {
	width: 100%;
	height: auto;
	font-size: 0.26rem;
	color: #333333;
	text-align: left;
	padding-bottom: 0.2rem;
	box-sizing: border-box;
}

.guizhie {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	font-size: 0.26rem;
	color: #333333;
	padding-bottom: 0.3rem;
	box-sizing: border-box;
}

.guizhie ul {
	list-style: inside
}

.fenxkaixi {
	width: 100%;
	height: 1rem;
	background: white;
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	z-index: 9999;
}

.fenxkaixi a {
	float: left;
	width: 50%;
	height: 100%;
	line-height: 1rem;
	text-align: center;
	font-size: 0.3rem;
	position: relative;
}

.fenxkaixi:after {
	display: block;
	clear: both;
	content: "";
}

.kaixi {
	background: #007AFF;
	color: white;
}

.fenx {
	border-top: 0.04rem solid #f3f7fa;
	box-sizing: border-box;
}

.fenx i {
	display: inline-block;
	width: 0.32rem;
	height: 0.32rem;
	position: relative;
	right: 0.1rem;
	top: 0.04rem;
}

.fenx i img {
	width: 100%;
	height: 100%;
}

.pingjai {
	display: inline-block;
	width: 1.40rem;
	height: 1.50rem;
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
	z-index: 2;
	padding: 0.15rem 0.18rem;
	box-shadow: 0.01rem 0.01rem 0.5rem 0.05rem #f6f8fb;
	box-sizing: border-box;
	overflow: hidden;
}

.fenzhi {
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 0.32rem;
	color: #333333;
	font-weight: bold;
	box-sizing: border-box;
}

.xiaoxinxin {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	text-align: center;
	padding-top: 0.15rem;
	box-sizing: border-box;
}

.xiaoxinxin i {
	float: left;
	width: 0.19rem;
	height: 0.18rem;
}

.xiaoxinxin i img {
	width: 100%;
	height: 100%;
}

.xiaoxinxin:after {
	display: block;
	clear: both;
	content: "";
}

.fenshu_box {
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 0.2rem;
	color: #666666;
	padding-top: 0.05rem;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}


/*
 
 * 
 * 评价
 * 
 * */

.pingjaiboxtitle {
	width: 100%;
	height: auto;
	background: white;
	position: relative;
	overflow: hidden;
	padding: 0.3rem;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}

.pingjaiboxtitle_nav {
	width: 100%;
	display: block;
	height: auto;
	position: relative;
	box-sizing: border-box;
}

.pingjaiicon {
	float: left;
	width: 14%;
	height: auto;
}

.pingjaiicon img {
	width: 0.76rem;
	height: 0.76rem;
}

.pingjaiboxtitle_nav:after {
	display: block;
	clear: both;
	content: "";
}

.pingjai_name_fenzhi {
	float: left;
	width: 86%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.pingjai_name_fenzhi_titi {
	width: 100%;
	height: auto;
	padding: 0rem;
	margin: 0rem;
}

.pingjai_name_fenzhi_titi span {
	float: left;
	width: 50%;
}

.pingnamepagebox {
	font-size: 0.24rem;
	color: #666666;
	text-align: left;
}

.pingnamepagebox_data {
	font-size: 0.22rem;
	color: #999999;
	text-align: right;
}

.xinjidafen {
	width: 100%;
	height: auto;
	margin: 0rem;
	padding: 0rem;
	overflow: hidden;
}

.xinjidafen_xinxin {
	width: auto;
	height: auto;
	float: left;
	position: relative;
	top: 0.1rem;
}

.xinjidafen_xinxin i {
	display: inline-block;
	width: 0.21rem;
	height: 0.21rem;
	float: left;
	margin-right: 0.05rem;
}

.xinjidafen_xinxin i img {
	width: 100%;
	height: 100%;
}

.fenshizhibx {
	font-size: 0.22rem;
	color: #333333;
	float: left;
	padding-left: 0.1rem;
	box-sizing: border-box;
}

.pinglunnriong {
	width: 100%;
	height: auto;
	margin-top: 0.2rem;
	padding-left: 0.95rem;
	padding-right: 0.57rem;
	box-sizing: border-box;
	overflow: hidden;
}

.pinglunnriong span {
	display: inline-block;
	width: 100%;
	height: auto;
	line-height: 0.35rem;
	font-size: 0.24rem;
	color: #333333;
	font-weight: 500;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-wrap:break-word;
}
.quanwentbtn{
	width: 100%;
	height: auto;
	font-size: 0.24rem;
	color: #0084ff;
	padding-top: 0.25rem;
	box-sizing: border-box;
}
/*
 
 * 
 * 入席
 * 
 * 
 * */

.ruxibox{
	width: 100%;
	height: auto;
	position: relative;
	background: white;
	padding: 0.3rem;
	padding-bottom: 0rem;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
}
.ruxinavbox{
	width: 100%;
	height: 1.8rem;
	position: relative;
	overflow: hidden;
}
.ruxinavbox i{
	float: left;
	width: 32%;
	height: 1.8rem; 
}
.ruxinavbox i img{
	width: 1.8rem;
	height: 1.8rem;
}
.ruxititile{
	float: left;
	width: 68%;
	height: 100%; 
	position: relative;
	overflow: hidden;
}
.ruxititile_name{
	width: 100%;
	height: auto;
	font-size: 0.3rem;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}
.ruxititile_dianming{
	width: 100%;
	height: auto;
	font-size: 0.26rem;
	color: #666666;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap; 
	padding-top: 0.2rem;
	box-sizing: border-box;
}
.ruxititile_morey{
	width: 100%;
	height: auto;
	font-size: 0.28rem;
	color: #363636;
	position: absolute;
	bottom: 0rem;
	left: 0rem;
}
.ruxishuliangruxi{
	width: 100%;
	height: 1rem;
	margin-top: 0.2rem; 
	border: 0.02rem solid #f7f7f7;
	border-right: none;
	border-left: none;
	position: relative;
	overflow: hidden;
	box-sizing: border-box; 
}
.ruxishuliangruxi span{
	float: left;
	width: 33%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.ruxititile_morey:after{
	display: block;
	clear: both;
	content: "";
}
.shuliangruxi{
	text-align: left;
	font-size: 0.3rem;
	color: #999999;
	line-height: 1rem;
}
.ruxi_shengyu{
	text-align: center;
	font-size: 0.26rem;
	color: #999999;
	line-height: 1rem;
}
.jiajianruxirenshu{
	text-align: right;
	font-size: 0.36rem;
	line-height: 0.8rem;
}
.mui-numbox{
	border: none !important;
	width: 1.9rem !important;
	height: 0.5rem !important;
	padding: 0rem !important;
	margin: 0rem !important;
}
.mui-numbox .mui-input-numbox, .mui-numbox .mui-numbox-input{
	border: none !important;
	width: 0.85rem !important;
	position: absolute;
	left: 28%;
}
.mui-numbox [class*=btn-numbox], .mui-numbox [class*=numbox-btn]{
	width: 0.5rem !important;
	height: 0.5rem !important;
	background: none !important;
	
}
.fanpiaodikoiu{
	width: 100%;
	height: 1rem;
	position: relative;
	overflow: hidden;
	border-bottom: 0.02rem solid #f7f7f7;
	box-sizing: border-box;
}
.fanpiaodikoutiti{
	width: auto;
	height: 100%;
	text-align: left;
	line-height: 1rem;
	font-size: 0.3rem;
	color: #999999;
}
.dikoumorey{
	display: inline-block;
	width: auto;
	height: 100%;
	float: right; 
}
.dikoumorey_moery{
	display: inline-block;
	width: auto;
	height: 100%; 
	font-size: 0.26rem;
	color: #ff385d;
	line-height: 1rem;
	font-weight: bold;
}
.ruxijinepinut{
	display: inline-block;
	width: 1.22rem;
	height: 0.5rem; 
	position: relative;
	overflow: hidden;
	top: 0.15rem;
	margin-left: 0.35rem;
}
.ruxijinepinut input{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 0.5rem;
}
.xiaoji_ruxi{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.28rem;
	color: #666666;
	text-align: right;
}
.xiaojijinebox{
	color: #ff385d;
	font-size: 0.3rem;
	font-weight: bold;
	margin-left: 0.35rem;
}
.qierenzhifubtn{
	width: 100%;
	height: 0.9rem;
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	z-index: 999;
	background: white;
}
.qierenzhifubtn div{
float: left;
}
.qierenzhifubtn:after{
	display: block;
	clear: both;
	content: "";
}
.zhifu_zongji{
	width: 60%;
	height: 100%;
	line-height: 0.9rem;
	font-size: 0.28rem;
	color: #666666;
	padding-left: 0.33rem;
	box-sizing: border-box;
}
.zhifu_zongji span{
	font-size: 0.28rem;
	color: #ff385d; 
	font-weight: bold;
}
.zhifu_zongji span label{
	font-size: 0.36rem;
	font-weight: bold;
}
.zhifu_quer4nebnt{
	width: 40%;
	height: 100%;
	line-height: 0.9rem;
}
.zhifu_quer4nebnt a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 0.3rem;
	color: white;
	background: #0084ff;
}
/*
 
 * 
 * 
 * 支付成功
 * 
 * 
 * */
.zhifucg{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	padding: 0.3rem;
	padding-bottom: 0rem;
	background: white;
	box-sizing: border-box;
}
.zhifucg_titile{
	width: 100%;
	height: auto;
	font-size: 0.26rem;
	color: #666666;
	text-align: left;
	padding-bottom: 0.3rem;
	box-sizing: border-box;
}
.liushuimatiti{
	font-size: 0.46rem;
	color: #333333;
}
.liushuimaage{
	width: 6.70rem;
	height: 1.20rem;
	margin: auto;
	text-align: center;
	background: url(../img/liushuimatishi.png) no-repeat center;
	background-size: 6.70rem 1.20rem;
}
.zhifidoimgbo{
	width: 100%;
	height: auto;
}
.zhifidoimgbo img{
	width: 100%;
	height: 1.84rem;
	margin: auto;
}


.tiaozhuandliushn{
	width: 100%;
	height: 0.78rem;
	text-align: center;
}
.tiaozhuandliushn a{
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 0.78rem;
	font-size: 0.26rem;
	color: #999999;
}
.zhifu_shenyuer{
	width: 100%;
	height: auto;
	background: white;
	margin-top: 0.2rem;
}
.zhifu_shenyuer_shuliagn{
	width: 100%;
	height: auto;
	padding: 0.4rem 0rem;
	padding-top: 0.6rem;
	text-align: center;
	font-size: 0.36rem;
	color: #333333;
	box-sizing: border-box;
}
.yaoqi_box{
	width: 100%;
	height: auto;
	text-align: center;
	margin: auto;
}
.yaoqi_box a{
	display: inline-block;
	width: 6.7rem;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	padding: 0rem;
	margin: 0rem;
	font-size: 0.32rem;
	color: white;
	background: #007AFF;
	border-radius: 0.1rem;
	margin-bottom: 0.5rem;
	box-sizing: border-box;
}
/*
 
 * 
 * 
 * 开席
 * 
 * */
.kaixi_biaotishi{
	width: 100%;
	height: auto;
	background: white;
	margin-top: 0.2rem;
	position: relative;
	overflow: hidden;
	padding-left: 0.25rem;
	box-sizing: border-box;
}
.kaixi_biaotishi_nage{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.3rem;
	color: #333333;
	border-bottom: 0.02rem solid #f7f7f7;
	position: relative;
	box-sizing: border-box;
}
.kaixi_biaotishi_nage span{
	position: absolute;
	left: 2.10rem;
	display: inline-block;
	width: auto;
	height: 100%;
	font-size: 0.28rem;
	color: #666666;
}
.kaixi_biaotishi_nage span input{
	font-size: 0.28rem;
	border: none;
}

.kaixi_biaotishi_nage span label{
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 0.7rem;
}
.gongskai {
	position: absolute;
    float: right;
    width: 0.42rem;
    height: 0.42rem;
    position: relative;
    top: 0.3rem;
    margin-left: 0.1rem;
    display: none;
}
.gongskai img{
	width: 100%;
	height: 100%
}
.gongskaibtnage{
	display: block !important;
}
/*
 
 * 
 * 绑定手机号
 * 
 * 
 * */
.bdsjh_box{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}
.bdsh_nav{
	width: 100%;
	height: 1.5rem;
	background: white;
	font-size: 0.28rem;
	color: #666666;
	line-height: 1.5rem;
	text-align: center; 
	border-bottom: 0.02rem solid #f7f7f7;
	box-sizing: border-box;
}
.bdsh_input{
	width: 100%;
	height: 1.2rem; 
	border-bottom: 0.02rem solid #f7f7f7; 
	position: relative;
	overflow: hidden;
	background: white;
	box-sizing: border-box;
}
.bdsh_input div{
	float: left;
	height: 100%;
}
.bdsh_input div input{
	padding: 0rem;
	margin: 0rem;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 0.32rem;
	color: #b8b8b8;
	outline: none;
}
.bdsh_age1{
	width: 30%;
	font-size: 0.32rem;
	color: #1890ff;
	text-align: center;
	line-height: 1.2rem;
}
.bdsh_age2{
	width: 70%;
}
 

.bdsh_input:after{
	display: block;
	clear: both;
	content: "";
}
.bdsh_yanzhengma{
	width: 100%;
	height: 1.2rem; 
	border-bottom: 0.02rem solid #f7f7f7; 
	position: relative;
	overflow: hidden;
	background: white;
	box-sizing: border-box;
}
.bdsh_yanzhengma div{
	float: left;
	height: 100%;
}
.bdsh_page1{
	width: 30%;
	height: 100%;
	text-align: center;
	color: #999999;
	font-size: 0.32rem; 
	line-height: 1.2rem;
}
.bdsh_page2{
	width: 40%;
	height: 100%;
	text-align: left;
	color: #999999;
	font-size: 0.32rem;
	line-height: 1.2rem;
}
.bdsh_page2 input{
	width: 100%;
	height: 100%;
	padding: 0rem;
	margin: 0rem;
	font-size: 0.32rem;
	color: #999999;
	border: none;
	outline: none;
}


.bdsh_page3{
	width: 30%;
	height: 100%; 
	padding-top: 0.35rem;
	font-size: 0.32rem; 
	text-align: right;
	padding-right: 0.3rem;
	box-sizing: border-box;
}
.bdsh_page3 button{
	width: auto;
	height: 0.56rem;
	text-align: center;
	font-size: 0.24rem;
	color: #0084ff;
	background: #eef1ff;
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 0rem 0.3rem;
	box-sizing: border-box;
}
.datacss{
	background:#b1b1b1 !important;
    color: #fff !important;
}
.bdsjh_tiaokauna{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: left;
	font-size: 0.26rem;
	color: #999999;
	background: white;
	padding-left: 0.3rem;
	box-sizing: border-box;
}
.xuanzhongbdsicon{
	display: inline-block;
	width: 0.42rem;
	height: 0.42rem;
	background: url(../img/danxuankuang.png) no-repeat center;
	background-size: 0.42rem 0.42rem;
	position: relative;
	top: 0.1rem;
}
.xuanzhongbdsicon2{
	display: inline-block;
	width: 0.42rem;
	height: 0.42rem; 
	position: relative;
	top: 0.1rem;
	border-radius: 50%;
	background: #eef1ff;
}
.querenbangding{
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
	margin-top: 0.75rem;
}
.querenbangding input{
	width: 6.7rem;
	height: 0.9rem;
	line-height: 0.9rem;
	background: #0084ff;
	color: #fff;
	text-align: center;
	padding: 0rem;
	margin: 0rem;
	font-size: 0.32rem;
}
/*时间*/
.databoxage{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0rem;
	left: 0rem;
	background: rgba(0,0,0,0.5); 
	z-index: 9999;
}
.databoxage_age{
	width: 7rem;
	height: auto;
	background: white;
	margin: auto;
	position: relative;
	top: 50%;
}
.databoxage_age_nav{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.32rem;
	background: white;
	text-align: center;
	overflow: auto;
}
.databoxage_age_nav span{
	display: block;
}
/*评价空*/
.ipingjiakogn{
	width: 100%;
	height: auto;
	position: fixed;
	top: 0rem;
	left: 0rem;
}
.ipingjiakogn img{
	width: 100%;
	height: auto;
}
